<!-- index.ejs, Egor, Student # 301179880, 10/23/2022 -->

<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

  <!-- logo -->
  <link rel="shortcut icon" type="image/x-icon" href="/Assets/images/favicon.ico">

  <!-- title -->
  <br>
    <h1>&nbsp;<%= title %></h1>

    <!-- header text-->
  <br>
   <center><h4 class="txt"><strong>Web assignment Express.js - Portfolio</strong></h4></center>
    <br>

  <!--sub header -->
  <center><p class="txt">Centennial College - Software Engineering Technician</p></center>
    <br>

    <!-- Mission Statement title-->
    <center><h5><strong>Mission Statement</strong></h5></center>

     <!-- Mission Statement text-->
    <center><p class="txt" id="ms">The world of software development is full of challenges and sometimes even suprises.
       For some people, software development is a backbreaking job, but in today's world, every company needs software, websites, databases, and much more in order to simply run their business.
       My mission is to provide a quality solution and development in a short time for a company in any field and point on earth.</p></center>
    <br>

    <!-- home page image-->
 <center><img  class="homeImg" alt="Home Banner" src="/Assets/images/home_ban.jpg"></center>

  <br>
    <br>
      <br>

<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>