<!-- projects.ejs, Egor, Student # 301179880, 10/23/2022 -->

<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

<link rel="shortcut icon" type="image/x-icon" href="/Assets/images/favicon.ico">
  
<br>
 <h1>&nbsp;<%= title %></h1>
  <br>

<center><h4 class="txt">Welcome to <strong>my <%= title %></strong></h4></center><br>

      <!-- sub title projects page-->
   <center><p class="txt">On this page you can find some of my previous work.</p></center><br>
      <center><p class="txt">Just click on any image to open the website.</p></center>

      <!-- my projects-->
<center> <a href="http://studentweb.cencol.ca/eshabalk/sources/Assignment_2/assignment2.html" target="_blank">
   <img class="work4_2_img" class="work_img" alt="Work_2" src="/Assets/images/screen_work2.jpg"/> <!-- id="work_1"-->
  </a>

  <a href="http://studentweb.cencol.ca/eshabalk/sources/Assignment_3/Assignment_3.html" target="_blank">
   <img class="work_img" alt="Work_3" src="/Assets/images/screen_work3.jpg"/>
  </a>

  <a href="http://studentweb.cencol.ca/eshabalk/sources/Assignment_4/index.html" target="_blank">
   <img class="work4_2_img"  alt="Work_4" src="/Assets/images/screen_work4.jpg"/>
  </a> </center>

  <center><a href="http://studentweb.cencol.ca/eshabalk/" target="_blank">
   <img id="workMain_img"  alt="Work_Main" src="/Assets/images/screen_workMain.jpg"/>
  </a></center>

<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>